<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJOaxnGDqoGrV-3D6GvWyl50VE8gUquYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19991173878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lawtus.tutor</string>
	<key>PROJECT_ID</key>
	<string>lawtus-d033f</string>
	<key>STORAGE_BUCKET</key>
	<string>lawtus-d033f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19991173878:ios:43cb310a6a8412236faad7</string>
</dict>
</plist>